.section__title {
    // margin-bottom: 112px !important;
    text-align: center;
}

.section__title--divider {
    width: 55px;
    height: 4px;
    margin: 8px auto 0;
    display: block;
    background-color: #ff3366;
}